# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# temp.py
temp.py


# mkdocs documentation
/site


# Just an out sample
nft_metadata.json

./images/

# We are working actively to bring this module to the CLI too
*/marketplace
*/market.py