PyInquirer
thirdweb-sdk
termcolor
python-dotenv
pyfiglet
eth-keyfile>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
eth-abi>=5.0.1 # not directly required, pinned by Snyk to avoid a vulnerability